---
// components
import Layout from "../layouts/Layout.astro";
import Titles from "../components/Titles.astro";

// comunidades
import CarmenGuzho from "../comunidades/CarmenGuzho.astro";
import SanJuanPabloII from "../comunidades/SanJuanPabloII.astro";
import SanPablo from "../comunidades/SanPablo.astro";
import Monay from "../comunidades/Monay.astro";
import QuintaChica from "../comunidades/QuintaChica.astro";
import Catequistas from "../comunidades/Catequistas.astro";
import Resume from "../components/Resume.astro";
import Ricaurte from "../comunidades/Ricaurte.astro";

// hoteles
import Seminario from "../habitaciones/Seminario.astro";

// filters
import SectionFilters from "../sections/SectionFilters.astro";
import { ParroquiaSlug } from "../lib/comunidadesData";
import { generarFiltrosHospedaje } from "../lib/comunidadesQueries";
import { CasasConvivencia } from "../lib/comunidadesData";
const dataGuzho = generarFiltrosHospedaje(undefined, ParroquiaSlug.carmenGuzho);
const dataQuinta = generarFiltrosHospedaje(undefined, ParroquiaSlug.quitachica);
const dataRicaurte = generarFiltrosHospedaje(undefined, ParroquiaSlug.ricaurte);
const dataMonay = generarFiltrosHospedaje(undefined, ParroquiaSlug.monay);
const dataSanPablo = generarFiltrosHospedaje(undefined, ParroquiaSlug.sanPablo);
const dataSanJuan = generarFiltrosHospedaje(
	undefined,
	ParroquiaSlug.sanJuanPabloII,
);
// const dataCasaB = generarFiltrosHospedaje(CasasConvivencia.casaBetania);
const dataTotal = generarFiltrosHospedaje();
---

<Layout>
	<Titles typeTitle="h1" title="Convivencia de Responsables- 2025" />
	<main class="flex flex-col gap-10 mt-4">
		<!-- <Monay /> -->
		<SanPablo />
		<!-- <SanJuanPabloII /> -->
		<!-- <Catequistas /> -->
		<SectionFilters data={dataGuzho} />
		<SectionFilters data={dataQuinta} />
		<SectionFilters data={dataRicaurte} />
		<SectionFilters data={dataSanPablo} />
		<SectionFilters data={dataSanJuan} />
		<SectionFilters data={dataMonay} />
		<!-- <Seminario /> -->
		<!-- <Resume /> -->
	</main>
</Layout>
