---
interface Comunidad {
  numComunidad: number;
  matrimonios: string[];
  solteros: string[];
  solteras: string[];
  total: number;
  observaciones: {
    nombres: string;
    observaciones: string;
  }[];
  hospedaje: {
    name: string;
    casa: string;
  }[];
}

interface ComunidadFilters {
  numComunidad: number;
  parroquia: string;
  tipo: string;
  nombres: string;
  hospedaje: string;
}

interface Props {
  comunidades?: Comunidad[];
  comunidadesFilters?: ComunidadFilters[];
  filters?: boolean;
}

const {
  comunidades,
  comunidadesFilters,
  filters = false,
} = Astro.props as Props;
---

<tbody>
  {
    filters
      ? comunidadesFilters?.map((comunidad) => (
          <tr>
            <td>{comunidad.numComunidad}</td>
            <td>{comunidad.parroquia}</td>
            <td>{comunidad.tipo}</td>
            <td>{comunidad.nombres}</td>
            <td>{comunidad.hospedaje}</td>
          </tr>
        ))
      : comunidades?.map((comu) => (
          <tr>
            <td>{comu.numComunidad}</td>
            <td>
              {comu.matrimonios.map((name) => (
                <div>{name}</div>
              ))}
            </td>
            <td>
              {comu.solteros.map((name) => (
                <div>{name}</div>
              ))}
            </td>
            <td>
              {comu.solteras.map((name) => (
                <div>{name}</div>
              ))}
            </td>
            <td>{comu.total}</td>
            <td>
              {comu.observaciones.map((obs) => (
                <div>
                  <strong>{obs.nombres}:</strong> {obs.observaciones}
                </div>
              ))}
            </td>
            <td class="lugar-convivencia">
              {comu.hospedaje.map((hosp) => (
                <div>
                  <strong>{hosp.name}:</strong> {hosp.casa}
                </div>
              ))}
            </td>
          </tr>
        ))
  }
</tbody>

<style>
  tbody {
    & tr {
      transition: background-color 0.2s;

      & td:first-child,
      & td:nth-child(5) {
        text-align: center;
      }
    }
    & tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    & tr:hover {
      background-color: #f0f0f0;
    }
    & td {
      padding: 4px 6px;
      border: 1px solid #ddd;
      /* vertical-align: top; */
    }

    & tr:last-child td {
      border-bottom: none;
    }
  }
</style>
