---
interface NumbersTotal {
  totalMatrimonios: number;
  totalSolteros: number;
  totalSolteras: number;
  totalHermanos: number;
}

interface TotalsFilters {
  numComunidad: number;
  parroquia: string;
  tipo: string;
  nombres: string;
  hospedaje: string;
}

interface ResumenTotal {
  totalComus: number;
  totalMatrimonios: number;
  totalSolteros: number;
  totalSolteras: number;
  totalHermanos: number;
}

interface Props {
  totals?: NumbersTotal;
  totalsFilters?: TotalsFilters[];
  resumenTotal?: ResumenTotal;
}
const { totals, totalsFilters, resumenTotal } = Astro.props as Props;

const totalMatrimonios = totalsFilters?.filter(
  (h) => h.tipo === "matrimonio",
).length;
const totalSolteros = totalsFilters?.filter((h) => h.tipo === "soltero").length;
const totalSolteras = totalsFilters?.filter((h) => h.tipo === "soltera").length;
const totalHospedados = totalMatrimonios! * 2 + totalSolteros! + totalSolteras!;
---

<tfoot>
  {
    totalsFilters && (
      <tr>
        <td />
        <td colspan="2">Total de hospedados: {totalHospedados}</td>
        <td colspan="">
          <div class="flex items-center gap-4">
            <p>Matrimonios: {totalMatrimonios}</p>
            <p>Solteros: {totalSolteros}</p>
            <p>Solteras: {totalSolteras}</p>
          </div>
        </td>
        <td />
      </tr>
    )
  }
  {
    resumenTotal && (
      <tr>
        <td>Total General</td>
        <td>{resumenTotal.totalComus} - Comunidades</td>
        <td>{resumenTotal.totalMatrimonios} - Matrimonios</td>
        <td>{resumenTotal.totalSolteros} - Solteros</td>
        <td>{resumenTotal.totalSolteras} - Solteras</td>
        <td>{resumenTotal.totalHermanos} - Hermanos</td>
      </tr>
    )
  }
  {
    totals && (
      <tr class="subtotal">
        <td />
        <td>
          <p>
            Matrimonios: <span>{totals.totalMatrimonios}</span>
          </p>
        </td>
        <td>
          <p class="flex items-center gap-5">
            <span>
              Solteros: <span>{totals.totalSolteros}</span>
            </span>
            <span>
              Solteras: <span>{totals.totalSolteras}</span>
            </span>
          </p>
        </td>

        <td colspan="2">
          <div>
            <p>Total de hermanos: {totals.totalHermanos}</p>
          </div>
        </td>
      </tr>
    )
  }
</tfoot>

<style>
  tfoot {
    background-color: var(--color-sky-50);
    font-weight: 600;
    padding: 0.5rem 0;

    & tr {
      & td {
        padding: 4px;
        border: 1px solid var(--color-border);
      }
    }
  }
</style>
